<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldchain.www.mapper.MemoMapper">

<resultMap type="com.goldchain.www.domain.Memo"
		id="memoResultMap">
		<id property="mmid" column="MMID" />
		<result property="mmid" column="MMID" />
		<result property="mmsb" column="MMSB" />
		<result property="mmnm" column="MMNM" />
		<result property="deleteflg" column="DELETEFLG" />	
	</resultMap>
	<select id="selectAll" resultMap="memoResultMap">
	SELECT
	  MMID
	  , MMSB
	  , MMNM 
	FROM
	  t_memo
	WHERE 
		DELETEFLG != 1;
	</select>
	<select id="selectMaxMMid" resultType="int">
		SELECT
		  max(mmid) + 1
		FROM
		  t_memo; 
	</select>
	
	<insert id="insertMemo" parameterType="com.goldchain.www.domain.Memo">
		INSERT 
		INTO t_memo 
		VALUES (#{mmid}, #{mmsb}, #{mmnm}, 0);
	</insert>
	
	<delete id="deleteMemo">
		<!-- DELETE FROM t_memo WHERE mmid = #{mmid}; -->
		UPDATE t_memo 
		SET
		  deleteflg = 1 
		WHERE
		  mmid = #{mmid};
	</delete>
	
</mapper>
