<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.css}"/>
<script src="/js/jquery.js" th:src="@{/js/jquery.js}"></script>

<link rel="stylesheet" media="all" th:href="@{/css/regist/index.css}"/>
<script src="/js/regist/index.js" th:src="@{/js/regist/index.js}"></script>
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker.min.css}">
<script type="text/javascript"
	th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/locales/bootstrap-datepicker.ja.min.js}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<form method="post" action="./pages/regist/post" th:object="${form}" name="form">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12 ">
					<div class="form-group" id="">
						<label for="comment">Money</label>
						<div class="input-group btn-group">
							<input type="text" class="form-control" value="" id="money" name="money"
								placeholder="金額を入力"> <span
								class="searchclear glyphicon glyphicon-remove-circle"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-xs-12 ">
					<div class="form-group" id="datepicker-default">
						<label for="comment">Calender</label>
						<div class="input-group date">
							<input type="text" class="form-control" value="" id="date" name="date"> 
							<div class="input-group-addon"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-xs-12 ">
					<div class="form-group form-inline" id="">
						<div class="form-group select">
							<label for="comment">Category</label><br/>
						 	<th:block th:each="cate : ${categoryList}" th:object="${cate}">
							 	<div class="toggle-buttons">
									<label>
								 		<input type="radio" name="category" th:value="*{category_id}">
								 		<span class="button">[[*{category_name}]]</span>
									</label>
							 	</div>
						 	</th:block>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-xs-12 ">
					<div class="form-group">
						<label for="comment">Memo:</label>
						<textarea class="form-control" rows="5" id="biko" name="biko"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-xs-12 ">
					<div class="form-group form-inline">
						<div class="toggle-buttons">
							<label> <input type="radio" name="kubn" value="1"
								checked="checked"> <span class="button">Saki</span>
							</label>
						</div>
						<div class="toggle-buttons">
							<label> <input type="radio" name="kubn" value="2"> <span
								class="button">Yuichi</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-xs-12 ">
					<button type="button" class="btn btn-danger" id="btnInput">記録</button>
				</div>
			</div>

		</div>
	</form>
</body>
</html>