@charset "UTF-8";
#body  {
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.memo-hint {
	
}

.tag_many {
	font-size : 1.0rem;
	color : white;
}

.card-footer {
	padding: .25rem 2.00rem;
}


.mmnm {
	font-size : 1.0rem;
	white-space: nowrap;
  	text-overflow: ellipsis;
  	overflow: hidden;
}

