@charset "UTF-8";
#body  {
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.memo-hint {
	
}

.tag_many {
	font-size : 1.2rem;
}

.card-footer {
	padding: .25rem 1.00rem;
}

.fixed-sn main, .hidden-sn main {
	padding-top : 1.5rem;
}
